.margin-down {
    margin-bottom: 25px;
}

.image {
    height: 100%;
    width: 100%;
}

.card-image {

}

.card-button {
    width: 45%;
}

.button button {
    /* Just a little styling to make it pretty */
    border:1px solid blue;
    background:blue;
    color:white;
    cursor: pointer;
}

.button {
    display:flex;
    flex-direction:row;

    /* This bit draws the box around it */
    border:1px solid grey;
    padding:2px;
}