.margin-down {
    margin-bottom: 25px;
}

.image {
    height: 100%;
    width: 100%;
}

.card-image {

}

.card-button {
    width: 45%;
}

/*.top {
    position:absolute;
    z-index: 1000;
    background-color: red;
    width: 79.28%;
}
//992
//1360
@media only screen and (max-width: 991px) {
    .top {
        position:absolute;
        z-index: 1000;
        background-color: red;
        width: 91%;
    }
}*/