<div class="row">
    <select class="margin-down">
        <option value="all" selected>All</option>
        <option value="{{a}}" *ngFor="let a of category">{{a}}</option>
    </select>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let pash of pashmina">
         <div class="card h-100">
            <a href="#"><img class="image card-img-top" src="{{pash.images[0].imageName}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{pash.pashminaName}}</a>
                </h4>
                <h5><strong>Rs.</strong>{{pash.price}}</h5>
                <!-- <p class="card-text">{{pash.descriptions[0].pashminaDescription}}</p>-->
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ul class="pagination">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item" *ngFor="let i of arr(pageNo).fill(1); let a = index;" (click)="getNextPashmina(a)"><span class="page-link" href="#">{{a+1}}</span></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</div>
