<div class="container" style="margin-top: -21px;">
  <div class="row" style="background: #efc8c8;">
    <a style="float: left;" class="navbar-brand" routerLink="/admin/home">M.S. Handloom Fabrics</a>
    <a style="float: right; cursor: pointer;" class="navbar-brand" (click)="logout()">Logout</a>
  </div>
  <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
    <button class="btn btn-info" (click)="goToDashboard()">DASHBOARD</button>
    <button class="btn btn-info" (click)="goToPashmina()">ADD PASHMINA</button>
    <button class="btn btn-info" (click)="gotToViewPashmina()">VIEW PASHMINA</button>
    <button class="btn btn-info" (click)="goToViewConfirmedOrder()">CONFIRMED PASHMINA</button>
    <button class="btn btn-info" (click)="goToHistory()">HISTORY</button>
  </div>
  <div class="row">
    <app-dashboard *ngIf="dashboard"></app-dashboard>
    <app-pashmina *ngIf="pashmina"></app-pashmina>
    <app-view-pashmina-details *ngIf="pashminaDetails"></app-view-pashmina-details>
    <app-confirmed-order *ngIf="confirmedOrder"></app-confirmed-order>
    <app-history *ngIf="history"></app-history>
  </div>
</div>
