<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a routerLink="/home">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderModel">
                        <td class="cart_product">
                            <a [routerLink]="['/pashmina-details']" [queryParams]="{id: order.pashminaId.pashminaId}"><img src="{{order.pashminaId.images[0].imageName}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a [routerLink]="['/pashmina-details']" [queryParams]="{id: order.pashminaId.pashminaId}">{{ order.pashminaId.pashminaName }}</a></h4>
                            <p>{{order.shippingAddress}}</p>
                            <p>{{order.contact}}</p>
                        </td>
                        <td class="cart_price">
                            <p><i class="fa fa-inr"></i>{{order.pashminaId.price}}</p>
                        </td>
                        <td class="cart_quantity">
                            <p class="cart_quantity_input">{{order.quantity}}</p>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price"><i class="fa fa-inr"></i>{{order.quantity * order.pashminaId.price}}</p>
                        </td>
                        <td class="cart_delete">
                            <a style="cursor: pointer;" class="cart_quantity_delete" (click)="removeCart(order.orderId)">
                                <i style="color: red;" class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
