<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a routerLink="/home">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderModel" [ngStyle]="{'background-color': order.soldOutStatus == 0 ? none : '#f27575'}">
                        <td class="cart_product">
                            <a [ngStyle]="{'color': order.soldOutStatus == 0 ? none: 'white'}" [routerLink]="['/pashmina-details']" [queryParams]="{id: order.pashminaId.pashminaId}">
                                <img style="width: 150px; height: 150px;" src="{{order.pashminaId.images[0].imageName}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a [ngStyle]="{'color': order.soldOutStatus == 0 ? none: 'white'}" [routerLink]="['/pashmina-details']"
                                    [queryParams]="{id: order.pashminaId.pashminaId}">
                                    <i class="fa fa-eyedropper" aria-hidden="true"></i>&nbsp; {{ order.pashminaId.pashminaName
                                    }}</a></h4>

                            <p [ngStyle]="{'color': order.soldOutStatus == 0 ? none: 'white'}">
                                <i class="fa fa-address-book" aria-hidden="true"></i>&nbsp; {{order.shippingAddress}}</p>

                            <p [ngStyle]="{'color': order.soldOutStatus == 0 ? none: 'white'}">
                                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; {{order.contact}}</p>
                        </td>

                        <td class="cart_price">
                            <p [ngStyle]="{'color': order.soldOutStatus == 0 ? none: 'white'}"><i class="fa fa-inr"></i>{{order.pashminaId.price}}</p>
                        </td>
                        <td class="cart_quantity">
                            <p [ngStyle]="{'color': order.soldOutStatus == 0 ? none: 'white'}" class="cart_quantity_input">{{order.quantity}}</p>
                        </td>
                        <td class="cart_total">
                            <p [ngStyle]="{'color': order.soldOutStatus == 0 ? none: 'white'}" class="cart_total_price"><i
                                    class="fa fa-inr"></i>{{order.quantity * order.pashminaId.price}}</p>
                        </td>
                        <td class="cart_delete">
                            <a *ngIf="order.soldOutStatus == 0" style="cursor: pointer;" class="cart_quantity_delete" (click)="removeCart(order.orderId)">
                                <i style="color: red;" class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->