<footer *ngIf="foot.isVisible">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 style="color: #ff4d4d;"> Contact Us </h3>
                <ul style="padding: 0;background:none; margin:0; color: #90aeff;">
                    <li><strong>Ms Handloom Fabric</strong><br>
                      <i class="fa fa-location-arrow"></i> Rizwana Cottage,644/9,Ground Floor,Zakir Nagar,Jamia Nagar,Okhla<br /><i class="fa fa-location-arrow"></i>  New Delhi - Delhi (India.) - 110025</li>
                    <li class="mobile"><i class="fa fa-phone"></i> +91 - 9205756240</li>
                    <li class="mail"><i class="fa fa-mail-forward"></i> <a href="mailto:info@mshandloomfabrics.com">mshandloomfabrics@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 rgt">
                <div class="contact-form">
                    <h2 class="title text-center">Get In Touch</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                        <div class="form-group col-md-6" style="margin-top: -10px;">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Name" [(ngModel)]="getInTouch.name">
                        </div>
                        <div class="form-group col-md-6" style="margin-top: -10px;">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Email" [(ngModel)]="getInTouch.email">
                        </div>
                        <div class="form-group col-md-12" style="margin-top: -10px;">
                            <input type="text" name="subject" class="form-control" required="required" placeholder="Subject" [(ngModel)]="getInTouch.subject">
                        </div>
                        <div class="form-group col-md-12" style="margin-top: -10px;">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your Message Here" [(ngModel)]="getInTouch.body"></textarea>
                        </div>
                        <div class="form-group col-md-12" style="margin-top: -10px;">
                            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit" (click)="sendEmail()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container ">
            <div class="lft" style="float:left; color: mediumvioletred;">Copyright 2018 &copy;
                Ms Handloom Fabric . All Rights Reserved.</div>
        </div>
    </div>
    <!-- /.container -->
</footer>
