.shop-menu ul li:hover {
    background: #ae227a !important;
}

.shop-menu ul li a:hover {
    background: none !important;
}

.shop-menu ul li, .shop-menu ul li a:hover {
    cursor: pointer;
}

.shop-menu ul li:active {
    outline:none !important;
}

.contactinfo .nav-pills li a:hover {
    background-color: none !important;
}

/*.shop-menu ul li:hover {
    background: none!important;
}*/
.only a:hover {
    color: red!important;
}

.only:hover {
    background-color: none!important;
}