<header id="header" *ngIf="navService.isVisible"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a><i class="fa fa-phone"></i> +91 - 9205756240</a></li>
                            <li><a><i class="fa fa-envelope"></i> mshandloomfabrics@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav">
                            <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/M-S-Handloom-Fabrics-415080012328374/?hc_ref=ARTdqnEqtP4hr1kK8tsxcdKAfT6m67-q00y0zxTDZnMFizSuC3Yi5HxkqHs1H66HUfc"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/handloom_m"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/ms_handloom_fabrics/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row" style="padding-top: 0; padding-bottom: 0;">
                <div class="col-sm-6">
                    <div class="logo pull-left">
                        <a routerLink="/home"><img style="height: 37px;" src="../../../assets/aaaa.png" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="shop-menu pull-right navbar-inverse">
                        <ul class="nav" style="background: white;">
                            <li (click)="goToCart()"><a style="cursor: pointer;"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li *ngIf="!isLoggedIn"><a routerLink="/account"><i class="fa fa-lock"></i> Login</a></li>
                            <li *ngIf="isLoggedIn" (click)="logout()"><a style="cursor: pointer;"><i class="fa fa-lock"></i>({{fullName}}) - Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom" style="min-height: 42px;"><!--header-bottom-->
        <div class="container"> -
            <div class="row">
                <div class="col-sm-12" style="color: white; margin-top: -23px;">
                    <div class="shop-menu pull-left">
                        <ul class="nav" style="font-size: 28px;">
                            <li><a routerLink="/home" style="background-color: #172431; font-size: 20px; color: #efc8c8"><i class="fa fa-home"></i> Home</a></li>
                            <li><a routerLink="/about-us" style="background-color: #172431; font-size: 20px; color: #efc8c8"><i class="fa fa-user"></i> About</a></li>
                            <li><a routerLink="/contact-us" style="background-color: #172431; font-size: 20px; color: #efc8c8"><i class="fa fa-map-marker"></i> Contact</a></li>
                            <li><a routerLink="/our-story" style="background-color: #172431; font-size: 20px; color: #efc8c8"><i class="fa fa-history"></i> Our Story</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->
