<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{pashmina.images[0].imageName}}" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active" *ngFor="let img of pashmina.images"><a data-target="#pic-1" data-toggle="tab"><img src="{{img.imageName}}" /></a></li>
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{pashmina.pashminaName}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description" *ngFor="let desc of pashmina.descriptions">{{desc.pashminaDescription}}</p>
                    <h4 class="price">current price: <span>Rs. {{pashmina.price}}</span></h4>
                    
                    <h5 class="colors">colors:
                        <span *ngFor="let color of pashmina.pashminaColor;" [style.background-color]="color.color" class="color green">

                        </span>
                    </h5>
<!--                <div class="action">
                    <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                    <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                </div>-->
            </div>
        </div>
    </div>
</div>
</div>