 <div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{pashminaName}}" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active" *ngFor="let img of pashmina[0].images"><a data-target="#pic-1" data-toggle="tab"><img src="{{img.imageName}}" /></a></li>
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{pashmina[0].pashminaName}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>

                    <div class="add-new">
                        <i class="fa fa-plus pull-right" title="add new" style="cursor: pointer;"
                           data-toggle="modal" data-target="#modelPopup"
                           (click)="addDescription()"></i>
                    </div>

                    <div class="alert alert-info" *ngFor="let desc of pashmina[0].descriptions">
                         <i class="fa fa-close close" title="delete" (click)="deleteDescription(desc.descriptionId)"></i>
                        <i class="fa fa-pencil edit" title="edit" data-toggle="modal" data-target="#modelPopup" (click)="editDescription(desc.descriptionId)"></i>

                        <p class="product-description">{{desc.pashminaDescription}}</p>
                    </div>


                    <div class="">
                        <h4 class="price">current price:
                            <span>Rs. {{pashmina[0].price}}</span>
                            <i class="fa fa-pencil" data-toggle="modal" data-target="#modelPopup"
                               title="edit" style="cursor: pointer;" (click)="editPrice()"></i>
                        </h4>
                    </div>

                    <h5 class="colors">
                        colors:
                        <span *ngFor="let color of pashmina[0].pashminaColor;" [style.background-color]="color.color" class="color green">
                            <i class="fa fa-close" title="delete" style="cursor: pointer;" (click)="deleteColor(color.colourId)"></i>
                        </span>
                        <i class="fa fa-plus" title="add new" style="cursor: pointer;" data-toggle="modal" data-target="#modelPopup" (click)="addNewColor()"></i>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="modelPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="input-group" *ngIf="!isColorBox">
                    <input [(ngModel)]="descriptionModel.pashminaDescription" type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="addOrEditDescription()">{{button}}</button>
                    </span>
                </div>

                <div class="input-group" *ngIf="isColorBox">
                    <select class="form-control" style="margin-bottom: 5px;"
                            [(ngModel)]="colorModel.color">
                        <option *ngFor="let a of colors">{{a}}</option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" tabindex="-1" (click)="addColor()">
                            ADD
                        </button>
                    </span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
