<div class="container">
    <div class="row">
        <slideshow [height]="height"
            [minHeight]="'425px'"
            [autoPlay]="true"
            [showArrows]="true"
            [showDots]="true"
            [imageUrls]="imageUrlArray"
            [lazyLoad]="imageUrlArray?.length > 1"
            [autoPlayWaitForLazyLoad]="true">
        </slideshow>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title title-hover" *ngFor="let cat of category">
                                <a class="panel-title" data-toggle="collapse" data-parent="#accordian" style="cursor: pointer;" (click)="getPashminaByCategory(cat)">
                                    {{cat}}
                                </a>
                            </h4>
                        </div>
                    </div>
                </div><!--/category-products-->
            </div>
        </div>


        <div class="col-sm-9 padding-right">
            <div class="features_items"><!--features_items-->
                <h2 class="title text-center">Features Items</h2>

                <i class="fa fa fa-spinner fa-spin text-center" style="font-size: 30px" *ngIf="loading"></i>

                <div class="col-sm-4" style="float: left; height: 405px;" *ngFor="let p of pashmina">
                     <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img style="max-height: 270px;" src="{{p.images[0].imageName}}" alt=""/>
                                <h2>Rs.  {{p.price}}</h2>
                                <p style="text-overflow: ellipsis;">{{p.pashminaName}}</p>
                                <a [routerLink]="['/pashmina-details']" [queryParams]="{id: p.pashminaId}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><hr>
            <div class="pagination-container" *ngIf="!loading">
                <strong class="view-more" (click)="previous()">Previous..</strong>
                <strong class="view-more" (click)="next()">Next..</strong>
            </div>

        </div>
    </div>
</div>
<!-- /.container -->
