.view-more:hover {
    text-decoration: underline;
    color: red;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.view-more {
    color: blue;
}

.pagination-container{
    text-align: center;
}

.panel-title {
  margin-bottom: 5px;
}

.panel-title:hover{
  color: blue;
}

.title-hover:hover{
    background: #e8e8ed;
}

.h1, h1 {
    font-size: 20px;
    color: red;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
