<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 style">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>

                        <div class="alert alert-danger" *ngIf="showAlert">
                            <strong>Sorry!</strong> We cann't found your email.
                            <b class='cross' (click)="close()">X</b>
                        </div>

                        <div class="alert alert-success" *ngIf="showSuccessAlert">
                            <strong>Success!</strong> We have send you an email.<br>
                            <small>Please check your mail</small>
                            <b class='cross' (click)="closeSuccess()">X</b>
                        </div>

                        <div class="panel-body">

                            <form id="register-form"  class="form">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email" name="email" placeholder="email address" class="form-control"  type="email" [(ngModel)]="email">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <button [disabled]="working" (click)="checkEmail()" name="recover-submit" class="btn btn-lg btn-primary btn-block" type="submit">
                                        <a *ngIf="!working">Reset Password</a>
                                        <i class="fa fa-spinner fa-spin" *ngIf="working"></i>
                                    </button>

<!--                                    <button (click)="checkEmail()" name="recover-submit" class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>-->
                                </div>

                                <a href="" routerLink='/admin/login'>Back to login page</a> 
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>