<div class="container">
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-4" style="border: 1px solid;">
            <span class="anchor" id="formChangePassword"></span>
            <hr class="mb-5">

            <!-- form card change password -->
            <div class="card card-outline-secondary">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <div class="card-header">
                    <h3 class="mb-0">Change Password</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" *ngIf="showInfo">
                        {{info}}
                        <b class='cross' (click)="close()">X</b>
                    </div>
                    <form class="form" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="inputPasswordNew">New Password</label>
                            <input type="password" class="form-control" id="inputPasswordNew" required="" name="password" [(ngModel)]="password">
                            <span class="form-text small text-muted">
                                The password must be 8-20 characters, and must <em>not</em> contain spaces.
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNewVerify">Verify</label>
                            <input type="password" class="form-control" id="inputPasswordNewVerify" required="" name="conPassword" [(ngModel)]="conPassword">
                            <span class="form-text small text-muted">
                                To confirm, type the new password again.
                            </span>
                        </div>
                        <div class="form-group">
<!--                            <button type="submit" class="btn btn-success btn-lg float-right" (click)="changePassword()">Save</button>-->
                            <button [disabled]="working" (click)="changePassword()" name="recover-submit" class="btn btn-lg btn-primary btn-block" type="submit">
                                <a *ngIf="!working">Change Password</a>
                                <i class="fa fa-spinner fa-spin" *ngIf="working"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form card change password -->

        </div>
    </div>
</div>