<div class="container">

    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

        <h3>About Us</h3>
        <p>M. S. Handloom Fabrics is the most trusted name in between the topmost companies in this business and commenced in the year 2010. We are a sole proprietorship based entity. The headquarter of our corporation is located in New Delhi, India. We are a most trusted name in between the topmost companies in this business, instrumental in manufacturing, wholesaling and trading a high-quality range of Cashmere Stole, Ladies Poncho, Winter Blanket and many more. We ensure to use only quality fabrics to design these products.</p>
        <hr><h5>Our Infrastructure</h5>
        <p>Our firm is facilitated by a hi-tech infrastructure unit where all the procedures of the company are held. The unit is fully equipped with the latest machines and tools. As it is spread over a wide area of land, we have parted it properly into several departments to carry out our occupational operations smoothly. These departments are as follows:</p>
        <ul>
            <li>Manufacturing</li>
            <li>Quality testing</li>
            <li>Packing</li>
            <li>R&amp;D</li>
            <li>Logistic</li>
            <li>Warehousing</li>
        </ul>			        	<hr><h3>Our Vision & Mission</h3>
        <p><span>We aim to offer our valued customers high-quality solutions at affordable rates to help them enjoy their life to the fullest. Our vision is to earn a global name in the industry through our innovative and modern products designed with advanced technology. We will achieve this goal by exceeding customer expectations in terms of quality, product price and after sales services.</span></p>			        	<hr><h3>Quality Assurance</h3>
        <p><span>We are renowned in the industry as a quality centric organization, which follows each &amp; every rule defined by the industry. In order to maintain strict quality standards, we have developed a stringent quality procedure that is rigorously followed at each step of entire process.</span></p>			        	<hr><h3>Client Satisfaction</h3>
        <p><span>Being a consistent and trusted business enterprise, we sternly aim at conquering high level of customer fulfillment by presenting to our customers world class quality variety of services. By knowing the individual necessities &amp; requirements of our patrons we render the services consequently. With the backing of our highly capable and endowed crew of employees, we offer consistent solutions to our patrons within the assured period of time. Our reliable and flexible services have helped us in accomplishing an enormous customer base for our company. As well, due to our client centric approach, we have been able to receive the confidence &amp; sureness of our customers.</span></p>			         
    </div>

</div>