<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Info</h2>
                    <div class="panel-group category-products">
                        <ul style="list-style: none; font-weight: bold;">
                            <li><i style="font-size: 25px;" class="fa fa-money"></i>&nbsp; Pay cash on delivery</li>
                            <li><i style="font-size: 25px;" class="fa fa-cc-discover"></i>&nbsp; 7 day free return</li>
                            <li><i style="font-size: 25px;" class="fa fa-smile-o"></i>&nbsp; Genunine Product</li>
                        </ul>
                    </div>

                    <h2>Similar Product</h2>
                    <div class="panel-group category-products similar-product" style="text-align: center;">
                        <img style="width: 100%;" src="../../../assets/images/product1.jpg" alt=""/>
                        <b>Nishan Dh</b>
                    </div>
                    <div class="panel-group category-products similar-product" style="text-align: center;">
                        <img style="width: 100%;" src="../../../assets/images/product1.jpg" alt=""/>
                        <b>Nishan Dh</b>
                    </div>
                    <div class="panel-group category-products similar-product" style="text-align: center;">
                        <img style="width: 100%;" src="../../../assets/images/product1.jpg" alt=""/>
                        <b>Nishan Dh</b>
                    </div>
                </div>


            </div>
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5" style="float: left;">
                        <div class="view-product">
                            <img src="{{pashminaName}}" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href=""><img src="{{pashmina.images[1].imageName}}" alt=""></a>
                                    <a href=""><img src="{{pashmina.images[2].imageName}}" alt=""></a>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7" style="float: right;">
                        <div class="product-information"><!--/product-information-->
                            <h1>{{pashmina.pashminaName}}</h1><!-- Maile yeslai copy gare hai ta -->
                            <p>{{pashmina.addedAt | date}}</p>
                            <span>
                                <span><i class="fa fa-inr"></i> {{pashminaPrice}}</span>
                                <label>Quantity:</label>
                                <input type="text" value="1" [(ngModel)]="orderModel.quantity" (change)="calculatePrice($event.target.value)"/>
                                <button type="button" class="btn btn-fefault cart" (click) = "addToCart()">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            </span>
                            <p><b>Availability:</b> In Stock</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Category: </b></p>
                            <p><b class="colors">
                                    Colors:
                                    <span style="height: 25px;
                                          width: 25px;
                                          background-color: #bbb;
                                          border-radius: 50%;
                                          display: inline-block;
                                          margin: 5px 5px;" *ngFor="let color of pashmina.pashminaColor" [style.background-color]="color.color" class="color green"><!-- ani yesma paste garxu aba display hunxa pheri --></span>
                                </b>
                            </p>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs"> show
                            <li class="active" style="padding: 10px 10px;"><a href="#details" data-toggle="tab">Details</a></li>
                            <li style="padding: 10px 10px;"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active" id="details" >
                            <ul class="list-group">
                                <li style="border: none;" class="list-group-item" *ngFor="let desc of pashmina.descriptions">{{desc.pashminaDescription}}</li>
                            </ul>
                        </div>

                        <div class="tab-pane fade" id="reviews" >
                            <div class="col-sm-12">
                                <form action="#">
                                    <span>
                                        <input type="text" placeholder="Your Name" [(ngModel)] = "getInTouch.name"/>
                                        <input type="email" placeholder="Email Address" [(ngModel)] = "getInTouch.email"/>
                                    </span>
                                    <textarea name="body" [(ngModel)] = "getInTouch.body"></textarea>
                                    <button type="button" class="btn btn-default pull-right" (click) = "sendEmail()">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <!--                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="item active">	
                                                    <div class="col-sm-4">
                                                        <div class="product-image-wrapper">
                                                            <div class="single-products">
                                                                <div class="productinfo text-center">
                                                                    <img src="images/home/recommend1.jpg" alt="" />
                                                                    <h2>$56</h2>
                                                                    <p>Easy Polo Black Edition</p>
                                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="product-image-wrapper">
                                                            <div class="single-products">
                                                                <div class="productinfo text-center">
                                                                    <img src="images/home/recommend2.jpg" alt="" />
                                                                    <h2>$56</h2>
                                                                    <p>Easy Polo Black Edition</p>
                                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="product-image-wrapper">
                                                            <div class="single-products">
                                                                <div class="productinfo text-center">
                                                                    <img src="images/home/recommend3.jpg" alt="" />
                                                                    <h2>$56</h2>
                                                                    <p>Easy Polo Black Edition</p>
                                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">	
                                                    <div class="col-sm-4">
                                                        <div class="product-image-wrapper">
                                                            <div class="single-products">
                                                                <div class="productinfo text-center">
                                                                    <img src="images/home/recommend1.jpg" alt="" />
                                                                    <h2>$56</h2>
                                                                    <p>Easy Polo Black Edition</p>
                                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="product-image-wrapper">
                                                            <div class="single-products">
                                                                <div class="productinfo text-center">
                                                                    <img src="images/home/recommend2.jpg" alt="" />
                                                                    <h2>$56</h2>
                                                                    <p>Easy Polo Black Edition</p>
                                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="product-image-wrapper">
                                                            <div class="single-products">
                                                                <div class="productinfo text-center">
                                                                    <img src="images/home/recommend3.jpg" alt="" />
                                                                    <h2>$56</h2>
                                                                    <p>Easy Polo Black Edition</p>
                                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                                <i class="fa fa-angle-right"></i>
                                            </a>			
                                        </div>-->
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>